<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Welcome</key>
	<dict>
		<key>List</key>
		<dict>
			<key>Layout</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Hello</string>
					<key>Items</key>
					<array>
						<dict>
							<key>Title</key>
							<string>John</string>
							<key>CellIdentifier</key>
							<string>JBRWelcomeItemOneCell</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Rowe</string>
							<key>CellIdentifier</key>
							<string>JBRWelcomeItemTwoCell</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Contacts</key>
	<dict>
		<key>Layout</key>
		<array>
			<array>
				<string>first_name</string>
				<string>last_name</string>
				<string>company_name</string>
			</array>
			<array>
				<string>telephone</string>
				<string>mobile</string>
				<string>email</string>
			</array>
			<array>
				<string>address</string>
			</array>
		</array>
	</dict>
	<key>Sidebar</key>
	<dict>
		<key>Layout</key>
		<array>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Dashboard</string>
						<key>Icon</key>
						<string>icon-dashboard.png</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Inbox</string>
						<key>Icon</key>
						<string>icon-inbox.png</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Actions</string>
						<key>Icon</key>
						<string>icon-actions.png</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Contacts</string>
						<key>Icon</key>
						<string>icon-contacts.png</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Reports</string>
						<key>Icon</key>
						<string>icon-reports.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>NETWORKS</string>
				<key>Items</key>
				<array/>
			</dict>
		</array>
	</dict>
	<key>Locations</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Contacts</string>
			<key>SyncName</key>
			<string>JBRContact</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/contacts%@.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Services</string>
			<key>SyncName</key>
			<string>JBRService</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/services%@.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Membership</string>
			<key>SyncName</key>
			<string>JBRMembership</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/memberships%@.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Referral</string>
			<key>SyncName</key>
			<string>JBRReferral</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/referrals%@.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Users</string>
			<key>SyncName</key>
			<string>JBRUser</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/users%@.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Me</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/users/me.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Activity</string>
			<key>SyncName</key>
			<string>JBRActivity</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/activities%@.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Comments</string>
			<key>SyncName</key>
			<string>JBRComment</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/comments%@.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Networks</string>
			<key>SyncName</key>
			<string>JBRNetwork</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/networks%@.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>ReferralReject</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/referrals/%@/reject.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>ReferralAccept</string>
			<key>URL</key>
			<string>http://localhost:5000/api/v1/referrals/%@/accept.json</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Root</string>
			<key>URL</key>
			<string>http://localhost:5000</string>
		</dict>
	</array>
</dict>
</plist>
